In [5]:
import math

def ent(l):
    tot = 0
    for e in l:
        tot += -e*math.log(e)/math.log(2)
    return tot

p = [1/2, 1/4, 1/8, 1/32, 1/32, 1/32, 1/32]
ent(p)

2.0

In [4]:
sum(p)

1.0

In [6]:
import scipy.stats as s

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [8]:
1-s.norm.cdf((1-.7)/math.sqrt(.02))

0.01694742676234462

In [9]:
import pickle

In [10]:
pickle.dumps((1,2,3,))

b'\x80\x03K\x01K\x02K\x03\x87q\x00.'

In [13]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [15]:
import pandas as pd

In [20]:
df1 = pd.DataFrame(np.arange(25).reshape(5, 5)+0.0, list('ABCDE'), list('abcde'))

In [21]:
df1

      a     b     c     d     e
A   0.0   1.0   2.0   3.0   4.0
B   5.0   6.0   7.0   8.0   9.0
C  10.0  11.0  12.0  13.0  14.0
D  15.0  16.0  17.0  18.0  19.0
E  20.0  21.0  22.0  23.0  24.0

In [41]:
df1.a[0] = float('NaN')
df = df1

In [56]:
df[['a', 'b', 'c', 'd', 'e']].mean(axis=1)

A     2.5
B     7.0
C    12.0
D    17.0
E    22.0
dtype: float64

In [53]:
df

      a     b     c     d     e   avg
A   NaN   1.0   2.0   3.0   4.0   2.5
B   5.0   6.0   7.0   8.0   9.0   7.0
C  10.0  11.0  12.0  13.0  14.0  12.0
D  15.0  16.0  17.0  18.0  19.0  17.0
E  20.0  21.0  22.0  23.0  24.0  22.0